.feedback-form {
  background-color: @backgroundMain;
}

.feedback-form__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    width: 648px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}

.feedback-form__input {
  background-color: @backgroundInput;
  padding: 16px;
  border: none;
  color: @mainColor;
  .fontInput;
}

.feedback-form__label {
  display: flex;
  flex-direction: column;
  .fontDescriptionSmall;
  flex-grow: 1;
}

.feedback-form__item {
  .fontInput;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.feedback-form__fieldset {
  border: none;
  padding: 20px;
  margin: 0;
}

.feedback-form__legend {
  .fontInput;
  padding: 0;
  text-align: center;
}

.feedback-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback-form__list--check {
  .fontInput;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.feedback-form__wide {
  @media (min-width: @tablet-width) {
    grid-column: span 2;
  }
}


.feedback-form__input--check {
  display: flex;
  position: relative;
  flex-direction: row;
  .fontInput;
  padding: 10px 10px 10px 58px;
  box-sizing: border-box;
  text-transform: capitalize;
}

.feedback-form__textarea {
  .fontInput;
  width: 100%;
  max-width: 768px;
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    display: block;
    margin: 0 auto;
  }
}

.feedback-form__button-wrapper {
  padding: 20px;
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    width: 768px;
    margin: 0 auto;
  }
}

.feedback-form__button {
  display: flex;
  padding: 16px;
  background-color: @backgroundSecond;
  color: @secondColor;
  .fontTitleMedium;
  justify-content: center;
}

.feedback-form__footnote {
  text-align: right;

  @media (min-width: @tablet-width) {
    text-align: right;
  }
}

