.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6px;
}

.social-links__item {
  display: block;
  background-color: @backgroundSecond;
  width: 48px;
  height: 48px;
  text-decoration: none;
  color: @secondColor;
}
